<!DOCTYPE html>
<html lang="en">

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}" ></script>
<script src="{{ url_for('static', filename='js/jquery-2.1.1.min.js') }}" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<style>
    #loader {
        top:50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        width: 200px;
        height: 200px;
    }
    .loader {
        width: calc(100% - 0px);
        height: calc(100% - 0px);
        border: 8px solid #D8D8D8;
        border-top: 8px solid #0174DF;
        border-radius: 50%;
        animation: rotate 5s linear infinite;
    }
    .loading-prompt {
        text-align: center;
    }
    .loading-prompt-span {
            font-size: 25px;
            color: #0174DF;
        }
    @keyframes rotate {
        100% {transform: rotate(360deg);}
    }
    #cvChart{
        width: 90% !important;

    }

    .hide-text{
        display: none;
    }
    #cv_result{
        display: none;
    }
    #reupload{

    }
    #data_not_ready{
        display: none;
        margin: 15px;
        text-align: center;
    }
    .grid-color{
        color: #696969;
    }
    .grid-row{
        margin-top: 5px;
    }
</style>
<head>
    <meta charset="UTF-8">
    <title>履歷分析</title>
</head>
<body>
<span id="upload_id" class="hide-text">{{ upload_id }}</span>
<span id="cv_data_interval" class="hide-text">{{ get_cv_data_interval }}</span>
<div id="loader">
    <div class="loading-prompt">
        <strong><span class="loading-prompt-span"> 分析結果載入中... </span></strong>
    </div>
    <div class="loader">
        <div class="loader">
            <div class="loader">
                <div class="loader">
                </div>
            </div>
        </div>
    </div>
</div>
<div id="cv_result" class="">
    <div class="row">
        <div class="col-6">
            <div class="row">
                <div class="col-12">
                    <canvas id="cvBarChart"></canvas>
                </div>
            </div>
            <div class="row" style="margin:20px;">
                <div id="job" class="col-12">
                    <div class="row">
                        <div class="col-12">
                            <div class="h2 text-center " style="color: #696969; margin-top:20px">推薦工作</div>
                        </div>
                    </div>
                    <div class="row grid-color" style="border-bottom: solid #696969; ">
                        <div class="col-1"></div>
                        <div class="col-md-5 text-center h4">
                            公司
                        </div>
                        <div class="col-md-5 text-center h4">
                            職缺
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-5">
            <canvas id="cvRadarChart"></canvas>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" style="text-align: center; margin-top:15px;">
            <a id="reupload" href="{{ url_for('index') }}" class="btn btn-outline-success btn-lg">重新上傳</a>
        </div>

    </div>
{#    </div>#}
</div>
<div id="data_not_ready">
    <p class="text-xl-center">資料未分析完成請重新整理畫面</p>
    <button id="reload_cv_result" type="button" class="btn btn-outline-primary btn-lg">重新整理</button>
    <a id="reupload" href="{{ url_for('index') }}" class="btn btn-outline-success btn-lg">重新上傳</a>
</div>
</body>
<script type="text/javascript">
    var draw_bar_chart = function(chart_type, chart_id, cv_data) {
        var ctx = document.getElementById(chart_id).getContext('2d');
  	    var	example = new Chart(ctx, {
            // 參數設定[註1]
            type: chart_type, // 橫圖表類型
            data: {
                labels: [ "履歷綜合分數(學經歷)", "履歷綜合分數(技能)", "履歷綜合分數(人格特質)" ], // 標題
                datasets: [{
                    data: cv_data, // 資料
  					backgroundColor: [ // 背景色
  					    "#3EDBCE",
                        "#4DCBFF",
                        "#FF2E2E",
                        ],
                    borderWidth: 5 // 外框寬度
                }]
                },
            options: {
  			    title:{
  			        display: true,
  			        text:'履歷分析結果',
                    fontSize: 30
                    },
                legend:{
  			        display: false
                    },
                scales: {
  			        yAxes: [{
                        ticks: {
                            fontSize: 18,

                            },
                        }],
                        xAxes: [{
                            ticks:{
                                fontSize:20,
                                beginAtZero: true,
                                min: 0,
                                max: 100,
                                stepSize: 20
                            },
                            barPercentage: 0.5
                        }]
                    }}
  		        });
        };

    var draw_radar_chart = function(chart_type, chart_id, cv_disc_data) {
        console.log(cv_disc_data);
        var ctx = document.getElementById(chart_id).getContext('2d');
  	    var	example = new Chart(ctx, {
            // 參數設定[註1]
            type: chart_type, // 橫圖表類型
            data: {
                labels: [ "支配型(Dominance)", "影響型(Influence)", "穩定型(Steady)", "謹慎型(Caution)" ],
                datasets: [{
                    data: cv_disc_data,
                    backgroundColor: "transparent",
                    borderColor: "rgba(0,0,200,0.6)",
                    fill: false,
                    radius: 4,
                    pointRadius: 4,
                    pointBorderWidth: 3,
                    pointBackgroundColor: "cornflowerblue",
                    pointBorderColor: "rgba(0,0,200,0.6)",
                    pointHoverRadius: 10,
                }]
            },
            options:{
                title:{
                    display: true,
                    text:'人格特質分析結果',
                    fontSize: 30
                },
                legend:{
  			        display: false
                },
                scale: {
                    ticks: {
                        beginAtZero: true,
                        min: 0,
                        max: 100,
                        stepSize: 20,
                        fontSize: 18
                    },
                    pointLabels: {
                        fontSize: 18
                    },
                }
            }
        });
    };

    var render_job = function(recommend_data){
        var i;
        for (i = 0; i < recommend_data.length; i++) {
            console.log(recommend_data[i].company);
            $('#job').append("<div class='row grid-row'>" +
                "<div class='col-1 text-center grid-color '>" +
                    "<div class='h5'>" + (i+1) +
                    "</div>" +
                "</div>" +
                "<div class='col-md-5 text-center h5 grid-color'>" +
                    recommend_data[i].company +
                "</div>" +
                "<div class='col-md-5 text-center h5 grid-color'>" +
                    recommend_data[i].job +
                "</div>" +
        "</div>");
        }


    };

    $(window).load(function () {
        get_cv_data = function() {
            var upload_id = document.getElementById('upload_id').innerText;
            $.ajax({
                url: '/cv_data?upload_id='+upload_id,
                type: 'GET',
                data: {
                    user_name: $('#user_name').val()
                },
                error: function(xhr) {
                    $('#data_not_ready').show();
                    $('#loader').hide();
                    $('#cv_result').hide();
                },
                success: function(response) {
                    var cv_data = $.parseJSON(response);
                    draw_bar_chart('horizontalBar', 'cvBarChart', cv_data.cv_data);
                    draw_radar_chart('radar', 'cvRadarChart', cv_data.disc_data);
                    render_job(cv_data.recommend);

                    $('#data_not_ready').hide();
                    $('#loader').hide();
                    $('#cv_result').show();

                }
            });
        }
        var cv_data_interval = document.getElementById('cv_data_interval').innerText;
        cv_data_interval = parseInt(cv_data_interval);
        setTimeout(get_cv_data, cv_data_interval);


        $('#reload_cv_result').click(function(){
            $('#data_not_ready').hide();
            $('#loader').show();
            $('#cv_result').hide();
            get_cv_data();

        });
    }

    );



    {#var chart = new Chart(ctx, {#}
    {#    // The type of chart we want to create#}
    {#    type: 'line',#}
    {##}
    {#    // The data for our dataset#}
    {#    data: {#}
    {#        labels: ["January", "February", "March", "April", "May", "June", "July"],#}
    {#        datasets: [{#}
    {#            label: "My First dataset",#}
    {#            backgroundColor: 'rgb(255, 99, 132)',#}
    {#            borderColor: 'rgb(255, 99, 132)',#}
    {#            data: [0, 10, 5, 2, 20, 30, 45],#}
    {#        }]#}
    {#    },#}

    // Configuration options go here


</script>
</html>