<!DOCTYPE html>
<html>
<title>履歷分析</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}" ></script>

{#<script>PDFObject.embed("/pdf/sample-3pp.pdf", "#example1");</script>#}
</head>
<body>
<div style="margin-left:13px; margin-top: 10px; margin-bottom: 10px;">
    <span style="font-size:25px;">履歷上傳成功，請確認履歷是否正確</span>
</div>
<table class="table" style="margin-bottom:0px;">
    {% for file in files %}
    <thead>
        <tr>
            <th scope="col" class="text-xl-left">
                <a href="{{ url_for('index') }}">上一页</a>
            </th>
            <th scope="row" class="text-xl-center">{{ file.filename }}</th>
            <th scope="col" class="text-xl-right">
                <a href="{{ url_for('cv_analysis_result', upload_id=file.upload_id) }}">查看结果</a>
            </th>
        </tr>

    </thead>
    <tbody>
        <tr>
            <span id="cv_url" style="display: none;">{{ url_for('static', filename='uploads/{}/{}'.format(uuid, file.file)) }}</span>
        </tr>
    </tbody>
    {% endfor %}
</table>
<div id="cv_pdf" style="height: 700px;"></div>
<script src="../static/js/pdfobject/pdfobject.js"></script>
<script>
    var cv_url = document.getElementById("cv_url").textContent;
    console.log(cv_url);
    PDFObject.embed(cv_url, "#cv_pdf");
</script>
</body>
</html>