body {
    background-color: #FFFFFF;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: small;
    color: #000000;
}

#dropbox {
    border: 1px solid #4f4f4f;
    padding: 20px;
    border-radius: 5px;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    width: 98%;
}

#dropbox.active {
    border: 4px solid #f77d7d;
}

.progress-trough {
    border: 1px solid #000000;
    height: 24px;
    width: 100%;
    position: relative;
}

.progress-bar {
    width: 50%;
    height: 100%;
    background-color: #0099FF;
}